.Survey {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .Survey__Aside {
    width: 50%;
    background-color: rgb(232, 222, 238);
  }
  
  .Survey__Form {
    width: 100%;
    background-color: #2E4158;
    padding: 25px 40px;
    overflow: auto;
  }
  
  .Survey__FormCenter {
    margin-bottom: 100px;
  }
  
  .Survey__FormTitle {
    color: #707C8B;
    font-weight: 2000;
    font-size: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .Survey__FormTitle1 {
    color: #707C8B;
    font-weight: 2000;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .Survey__FormField {
    margin-bottom: 40px;
  }
  
  .Survey__FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 100%;
    color: white;
  }

  .Survey__FormField__Label1 {
    display: block;
    text-transform: uppercase;
    font-size: 85%;
    color: white;
  }

  .Survey__FormField__Label2 {
    font-size: 120%;
    padding-right: 15px;
    color: white;
  }

  .Survey__FormField__Input {
    width: 40%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    
    
  }

  .Survey__FormField__Input1 {
    width: 10%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    
    
  }

  .Survey__FormField__Dropdown {
    width: 40%;
    padding-bottom: 10px;
    margin-top: 10px;
    
    
  }
  
  .Survey__FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .Survey__FormField__Button {
    background-color: rgb(210, 186, 224);;
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px 70px;
    font-size: 100%;
    font-weight: 500;
  }
  
  .Survey__FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .Survey__FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .Survey__FormField__Checkbox {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .Survey__FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  